html {
	border: 0;
	padding: 0;
	margin: 0;

	font-family: sans-serif;

	--blazar-theme-primary: #20a4f3;
	--blazar-theme-secondary: #2ec4b6;
	--blazar-theme-background: #ffffff;
	--blazar-theme-on-primary: #ffffff;
	--blazar-theme-on-secondary: #000000;
	--blazar-theme-on-background: #000000;
	--blazar-theme-success: #4caf50;
	--blazar-theme-warning: #ff9800;
	--blazar-theme-info: #2196f3;
	--blazar-theme-error: #f44336;
	--blazar-theme-on-success: #ffffff;
	--blazar-theme-on-warning: #ffffff;
	--blazar-theme-on-info: #ffffff;
	--blazar-theme-on-error: #ffffff;
}

body {
	border: 0;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0
}

@media print {
	.no-print {
		display: none !important;
	}
}

.center-layout {
	background-color: rgba(0, 0, 0, 0.5);

	.blazar-page {
		min-width: auto;
		border-radius: 1em;
	}
}

.downballotlayout-header-leading {
	display: none;
}

.downballotlayout-menu {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

@media screen and (max-width: 900px) {
	.downballotlayout-header-leading {
		display: block;
	}
}

.map-marker {
	cursor: default;

	.map-marker-street-number {
		border: 1px solid black;
		padding: 0.3em;
		background-color: indianred;
		color: white;
		text-align: center;

		a {
			color: white;
			text-decoration: none;
		}
	}

	.map-marker-person {
		font-size: 0.8em;
		background-color: white;
		padding: 0.1em;

		a {
			color: black;
			text-decoration: none;
		}
	}

	&:hover {
		scale: 1.8;
	}
}

@media print {
	.blazar-table {
		font-size: 0.7em;
	}

	.blazar-table tr {
		background-color: transparent !important;
	}

	.blazar-table table tbody td {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}
