html {
    border: 0;
    padding: 0;
    margin: 0;

    font-family: sans-serif;

    --material-theme-primary: #20a4f3;
    --material-theme-secondary: #2ec4b6;
    --material-theme-background: #ffffff;
    --material-theme-on-primary: #ffffff;
    --material-theme-on-secondary: #000000;
    --material-theme-on-background: #000000;
}

body {
    border: 0;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0
}

.main-layout-header {
}

.main-layout-body {
    display: flex;
    justify-content: flex-start;
}

.main-layout-drawer {
    padding: 1em;
}

.main-layout-content {
    flex: 1;
}

.myui-icon {
    width: 1em;
    height: 1em;
}

.myui-page {
    padding: 1em;
}

.myui-item {
}

.myui-item-icon {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

.myui-item-name {
}

table.myui-table {
    border-collapse: collapse; /* Removes space between cell borders */
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* Adds a modern elevation effect */
}

table.myui-table thead tr {
    background-color: var(--material-theme-secondary);
    color: var(--material-theme-on-secondary); 
    text-align: left;
}

table.myui-table th,
table.myui-table td {
    padding: 12px 15px; 
}

table.myui-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table.myui-table tbody tr:nth-of-type(even) {
    background-color: #f7f7f7; /* Zebra-striping for easier scanning */
}

table.myui-table tbody tr:last-of-type {
}

table.myui-table tbody tr:hover {
    background-color: #f1f1f1; /* Visual cue when interacting with rows */
}

.material-app-bar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    padding: 1em;
    background-color: var(--material-theme-primary);
    color: var(--material-theme-on-primary);
}

.material-app-bar-leading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-app-bar-content {
    flex: 1;
}

.material-app-bar-headline {
}

.material-app-bar-headline-text {
    font-size: 1.5em;
    font-weight: bold;
}

.material-app-bar-subtitle {
}

.material-app-bar-subtitle-text {
    font-size: 1em;
    font-weight: normal;
}

.material-app-bar-trailer {
}